<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>Admin panel</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Age</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.id}">id</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.name}">name</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.surname}">surname</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.email}">email</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.age}">age</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.password}">password</a></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}"
               th:text="${user.roles}">role</a></td>
    </tr>
</table>
<br/>
<hr/>
<a href = "/admin/newUser">Click here for create a new User</a>
<hr/>
<a th:href="@{/logout}">Logout</a>
</body>
</html>