<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <td>Roles</td>
    <br>
    <td>
        <th:block th:each="role : ${listRoles}">
            <input type="checkbox" name="index" th:value="${role.id}"/>
            <label th:text="${role.getName()}"></label>
            <br/>
        </th:block>
    </td>
    </br>
    <br/>
    <input type="submit" value="Create!"/>
</form>

<a href = "/admin">Back to Users_list</a>

</body>
</html>